name: Build, format, test and publish

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0

      - uses: pnpm/action-setup@v4.2.0

      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 22.x

      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm dlx pkg-pr-new publish --pnpm --compact
